.stream-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.stream-navigation {
    background-color: rgb(49, 49, 49);
    border: none;
    padding: 8px;
}

.stream-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
}

.stream-div {
    background-color: black;
    height: inherit;
    flex-grow: 1;
    min-width: 800;
}

.stream-sidebar {
    width: 320;
    min-width: 320px;
    max-width: 320px;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.sidebar-section {
    padding: 8px;
    overflow-x: hidden;
}

h3 {
    margin-top: 32px;
    padding-left: 8px;
}

.stream-chat {
    height: inherit;
}

.feed {
    max-height: 540px !important;
    overflow-y: scroll;
}

h3, .extra {
    color: whitesmoke !important;
}

div.content {
    padding: 8px !important;
}

.chat-input {
    margin-left: 48px;
    width: 100%;
    margin-top: 32px;
}

.ui.input {
    padding-right: 24px !important;
}